<div class="card" *ngIf="weather">
  <div class="icon">
    <app-weather-icon [code]="weather.cod"></app-weather-icon>
  </div>
  <div class="temp" *ngIf="weather.temp">
    <p>Temp</p>
    <p class="big">{{weather.temp}}º</p>
  </div>
  <div class="lowTemp" *ngIf="weather.minMaxTemp">
    {{weather.minMaxTemp.min}}º
    <span>Mínima</span>
  </div>
  <div class="highTemp" *ngIf="weather.minMaxTemp">
    {{weather.minMaxTemp.max}}º
    <span>Máxima</span>
  </div>
  <div class="description">
    <h2>{{weather.name}}</h2>
    <p>{{weather.description}}</p>
  </div>
</div>
