$dark : #203048;
$accent: #7C623B;
$main: #E07918;
$light: #F6DD8C;

:host{
  display: inline-block;
}
.card{
  box-sizing: border-box;
  font-weight: lighter;
  background-color: #ffffff;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align: center;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4,2fr);
  grid-template-rows: repeat(3,auto);
  grid-template-areas:
  "icon icon temperature temperature"
  "lowTemp lowTemp highTemp highTemp"
  "desc desc desc desc";
}

.card .temp{
  grid-area: temperature;
  p{
    margin:0px
  }
  .big{
    color: $main;
    font-weight: bold;
    font-size: 2em;
  }
}

.card .icon{
  grid-area: icon;
}

.card .description{
  grid-area: desc;
  h2{
    color: $accent;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }
}

.lowTemp , .highTemp{
  color: $accent;
  span{
    color: $dark;
    opacity: 0.56;
    font-size: 0.6em;

  }
}

.lowTemp {
  grid-area: lowTemp;
}
.highTemp{
  grid-area: highTemp;
}
