\:host
  display: block
  text-align: center
  min-height: 22px
.circle
  width: 10px
  height: 10px
  border-radius: 50%
  display: inline-block
  margin-right: 5px
  &:last-of-child
    margin-right: 0px
