<div>
  <app-current-weather></app-current-weather>
  <app-loading></app-loading>
  <app-forecast></app-forecast>
  <app-geolocationbutton></app-geolocationbutton>
    {{ geolocationService.coords$ | async | json }}
</div>

