@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap')
@import './color'


body
  font-family: 'Fira Code', monospace
  background-color: $light
  color: $dark
